<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <title> Calculator </title>
</head>

<body>
<!--
левая навигация
--> 
  <div class="sidenav nav-pills">
    <a href = "main.html"> <img class = "nav-image" src = "images/books_apple.jpg" alt = "Книги"> </a>
    <p class = "nav-text"> Онлайн-школа <br> "Знания" </p>
    <a href="main.html" class="nav-link">Главная</a>
    <a href="main.html#courses" class="nav-link">Курсы</a>
    <a href="tutors.html" class="nav-link">Преподаватели</a>
    <a href="notice.html" class="nav-link">Оставить заявку</a>
    <a href="comment.html" class="nav-link">Оставить отзыв</a>
    <a href="calculator.html" class="nav-link active">Калькулятор стоимости занятий</a>
    <a href="about_us.html" class="nav-link">Контакты</a>
    <p class = "nav-text_small"> При сотрудничестве с <a href = "https://www.hse.ru" class = "nav-link_small" target = "_blank"> Высшей школой экономики</a> 
    </p>
  </div>
<!--
правая навигация
-->
  <div class="little_nav">
    <div class = "little_nav_div">
      <a href="main.html" class="little_nav_link">
        <img class="little_nav_pic" src="icons/home.svg" alt="Домой">
      </a>
    </div>
    <div class = "little_nav_div">
      <a href="#tops" class="little_nav_link">
        <img class="little_nav_pic" src="icons/vector_up.svg" alt="Вверх">
      </a>
    </div>
  </div>

  <div class="main">
    <h1>Посчитать стоимость набора занятий</h2>
    <p> С помощью нашего калькулятора вы можете с легкостью посчитать стоимость набора личных занятий, <br>
      который вы планируете приобрести. </p>
    <form action="http://185.182.111.214:7628/cgi-bin/form_action.py" id="UserEnter" name="UserEnter" target="_blank">
      <label for="maths">
        Математика:
      </label>
      <input required class="form_input"  id="math" name="math"  type="number" value=0>
      <p>
      </p>
      <label for="obsch">
        Обществознание:
      </label>
      <input required class="form_input" id="obsch" name="obsch"  type="number" value=0>
      <p>

      </p>
      <label for="eng">
        Английский язык:
      </label>
      <input required class="form_input" id="eng" name="eng"  type="number" value=0>
      <input name="result" type="hidden">
      <p>
      </p>
      <label>
        <input class="form_input"  id="send" type="button" value="Отправить">
      </label>

    </form>
    <p id="result">
      Итого:
    </p>
  </div>
  <script src="calculator.js">
  </script>

    </body>


</body>
</html>