<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <title> Notice</title>
</head>

<body>
<!--
левая навигация
-->  
  <div class="sidenav nav-pills">
    <a href = "main.html"> <img class = "nav-image" src = "images/books_apple.jpg" alt = "Книги"> </a>
    <p class = "nav-text"> Онлайн-школа <br> "Знания" </p>
    <a href="main.html" class="nav-link">Главная</a>
    <a href="main.html#courses" class="nav-link">Курсы</a>
    <a href="tutors.html" class="nav-link">Преподаватели</a>
    <a  href="notice.html" class="nav-link active">Оставить заявку</a>
    <a href="comment.html" class="nav-link">Оставить отзыв</a>
    <a href="calculator.html" class="nav-link" >Калькулятор стоимости занятий</a>
    <a href="about_us.html" class="nav-link">Контакты</a>
    <p class = "nav-text_small"> При сотрудничестве с <a href = "https://www.hse.ru" class = "nav-link_small" target = "_blank"> Высшей школой экономики</a> 
    </p>
  </div>
<!--
правая навигация
-->
<div class="little_nav">
    <div class = "little_nav_div">
      <a href="main.html" class="little_nav_link">
        <img class="little_nav_pic" src="icons/home.svg" alt="Домой">
      </a>
    </div>
    <div class = "little_nav_div">
      <a href="#tops" class="little_nav_link">
        <img class="little_nav_pic" src="icons/vector_up.svg" alt="Вверх">
      </a>
    </div>
</div>
  
<div class = "main">
  <h1> Оставить заявку для обратной связи</h1>
  <form action="http://185.182.111.214:7628/cgi-bin/form_action.py" method='get' target='_blank' class="form">
  <div class = "right_input"> 
    <label for="name" class="form_label2">Имя, фамилия</label>
    <p>

    </p>
    <label for="email" class="form_label2">E-mail</label>
    <p>

    </p>
    <label class="form_label2" for="phone">Номер телефона</label>
    <p>

    </p>
    <label class="form_label2" for="date">Дата отправки заявки</label>
    <p>

    </p>
    <label class="form_label2" for="subject">Какой предмет хотите изучать?</label>
    <p>

    </p>
    <label class="form_label2" for="file_name">Назовите файл в формате Фамилия.txt:</label> 
  </div>
  <div class = "left_input">
    <input name="name" class="input2" placeholder="Имя Фамилия" id="name" required type="text">
    <p>
    </p>
    <input name="email" class="input2" placeholder="E-mail" id="email" required type="email">
    <p>
    </p>
    <input required class="input2" id="phone" type="tel" placeholder="+7-000-000-00-00" name="phone">
    <p>
    </p>
    <input required class="input2" id="date" type="date" placeholder="14.12.2022" name="date">
    <p>
    </p>
    <select class="input2" id="subject" name="subject">
      
        <option value="maths">Математика</option>
        <option value="obschestvoznanie">Обществознание</option>
        <option value="english">Английский язык</option>
        
    </select>
    <p>
    </p>
    <input id="name-file" class="input2" name="file_name" size='30' type="Техт" value="Minenkova.txt">

  </div>
  <div>
  <input class="but" name="Reset" type="Reset" value="Обновить">
  <input class="but" name="submit" type="Submit" value="Отправить">
  </div>
</form>


</body>
</html>