<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/stylesheet.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"> 
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
  <title> Courses </title>
</head>

<body>
  # side navigation 
  <div class="sidenav nav-pills">
    <a href = "main.html"> <img class = "nav-image" src = "images/books_apple.jpg" alt = "Книги"> </a>
    <p class = "nav-text"> Онлайн-школа <br> "Знания" </p>
    <a href="main.html" class="nav-link">Главная</a>
    <a href="main.html#courses" class="nav-link">Курсы</a>
    <a href="tutors.html" class="nav-link active">Преподаватели</a>
    <a href="notice.html" class="nav-link">Оставить заявку</a>
    <a href="comment.html" class="nav-link">Оставить отзыв</a>
    <a href="calculator.html" class="nav-link" >Калькулятор стоимости занятий</a>
    <a href="about_us.html" class="nav-link">Контакты</a>
    <p class = "nav-text_small"> При сотрудничестве с <a href = "https://www.hse.ru" class = "nav-link_small" target = "_blank"> Высшей школой экономики</a> 
    </p>
  </div>
  
  <div class="little_nav">
    <div class = "little_nav_div">
      <a href="main.html" class="little_nav_link">
        <img class="little_nav_pic" src="icons/home.svg" alt="Домой">
      </a>
    </div>
    <div class = "little_nav_div">
      <a href="#tops" class="little_nav_link">
        <img class="little_nav_pic" src="icons/vector_up.svg" alt="Вверх">
      </a>
    </div>
  </div>
  
  <section class = "main">
    <h1> Наши преподаватели </h1>
    <figure class = "tutor">
      <img src = "images/teachermath.jpg" alt = "Преподаватель по математике" class = "tut" title = "Преподаватель по математике"> 
        <figcaption class = "figs">
          Старший преподаватель по математике, Викторова Анна
        </figcaption>
    </figure>
    <figure class = "tutor">
      <img src = "images/teacherob.jpg" alt = "Преподаватель по обществознанию" class = "tut" title = "Преподаватель по обществознанию"> 
        <figcaption class = "figs">
          Старший преподаватель по обществознанию, Семенова Ольга
        </figcaption>
    </figure>
    <figure class = "tutor">
      <img src = "images/teachereng.jpg" alt = "Преподаватель по английскому" class = "tut" title = "Преподаватель по английскому"> 
        <figcaption class = "figs">
          Преподаватель по английскому языку, Антонова Елизавета
        </figcaption>
    </figure>
  </div>
  
</body>
</html>